


<div class="container-fluid" id="background-all">
    <div class="row profile">

        <!-- PAGE CONTENT -->
            <div class="col-md-8" id="each-blog-follow">
                <h1>Browse</h1>
                <% BlogEntry.all.each do |b|%>
                <% if current_user.id != b.user_id %>
                    <div class="row">
                        <div class="col-lg-12 " id="blog-post">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="https://crunchbase-production-res.cloudinary.com/image/upload/c_thumb,h_256,w_256,f_auto,g_faces,z_0.7,q_auto:eco/v1466591235/kqksgid3mofshmeq0yhs.png" class="img-responsive" alt="" style="width: 100px;height:100px;">
                                </a>
                                <div class="media-body" id="blog-content">
                                    <h4 class="media-heading">
                                        <%= User.find_by(id: b.user_id).name%>
                                    </h4>
                                    <small><%=b.created_at%></small>
                                    <h4>Subject: <%=b.title%></h4>
                                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                                    <hr>
                                    <p id="description"><%=b.description%></p>

                                </div>
                            </div>

                        </div>

                        

                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>


