


<div class="container-fluid" id="background-all">
    <div class="row profile">

        <!-- PAGE CONTENT -->
            <div class="col-md-8" id="each-blog-follow">
                <h1>Followers</h1>
                <% BlogEntry.all.each do |b|%>
                    <div class="row">
                        <div class="col-lg-12 " id="blog-post">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="http://csundesignhub.org/wp-content/uploads/2015/06/profile_placeholder.png" class="img-responsive" alt="" style="width: 100px;height:100px;">
                                </a>
                                <div class="media-body" id="blog-content">
                                    <h4 class="media-heading">
                                        <%=current_user.name%>
                                    </h4>
                                    <small><%=b.created_at%></small>
                                    <h4>Subject: <%=b.title%></h4>
                                    <hr>
                                    <p id="description"><%=b.description%></p>

                                </div>
                            </div>

                        </div>

                        

                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>


