

<div class="container-fluid">
    <div class="row profile">
        <!-- PAGE CONTENT -->
        <div class="col-md-10">
            <div class="profile-content">
				<div class="event-form">
					<div class="row">
						<div class="col-lg-3"></div>
						<!-- map goes into this div -->
						<div class="col-lg-6"></div> 
						<div class="col-lg-3"></div>
					</div>
					<div class="row" id="event-form-row">
                        <h2>My Blog</h2>
						<div class="col-lg-12">
    						<div class="widget-area no-padding blank">
                                <div class="status-upload">
                                    <%= form_tag '/blog_post' do%>
                                     <div class="form-group">
                                       <label for="exampleInputEmail1">Title</label>
                                       <input name="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title of your post...">
                                     </div>
                                        <textarea name='textarea' placeholder="What are you doing right now?" ></textarea>
                                        <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                                    <% end %>
                                </div><!-- Status Upload  -->
                            </div><!-- Widget Area -->
                        </div>
					</div>
				</div>
			</div>

            <div class="line"></div>

            <% BlogEntry.all.each do |b|%>
            <div class="row">
                <div class="col-lg-12">
                    <div id="postlist" id="post-box">
                        <div class="panel" id="post-border">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h3 class="pull-left"><%= b.title %></h3>
                                        </div>
                                        <div class="col-sm-3">
                                            <h4 class="pull-right">
                                            <small><em>
                                                <%= b.created_at %><br></em></small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                            <div class="panel-body">
                               <%= b.description %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="footer">
        <strong> © 2018 by <a href="https://www.nextacademy.com">Next Academy</a></strong>
    </div>
</div>

