





<div class="container-fluid">
    <div class="row profile">



        <!-- PAGE CONTENT -->
        <div class="col-md-10">
            <div class="profile-content">

            
			<div class="well">

				<h1>Create new event</h1>

				<%= form_for @event do |f| %>

					<%= render "form", f: f %>

					  <p>
					    <%= f.submit "Create Event", :class => 'btn btn-primary btn-lg' %>
					     <%= link_to "Cancel", events_path, :class => 'btn btn-primary btn-lg' %>
					  </p>
					<% end %>

			</div>

			

              

            

            </div>
        </div>



    </div>
</div>


<div class="container-fluid">
    <div class="footer">
        <strong> © 2018 by <a href="https://www.nextacademy.com">Next Academy</a></strong>
    </div>
</div>